* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;

    background: linear-gradient(to right, aquamarine, rgb(255, 113, 234), rgb(241, 199, 120));

    /* for non-scrolling */
    /* position: fixed;
    top: 0;
    left: 0; */
}

.logo {
    display: flex;
    /* position: relative; */
    /* left: 50px; */
    align-items: center;
}

#logoimg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* name after logo by CSS ::after property  */
.logo-name::after {
    content: "Indira Priyadarshini College";
}

.logo-name {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

#nav-ul {
    display: flex;
    padding: 15px 0px 0px 40px;
    /* border: 2px solid black; */
}

#nav-ul li {
    list-style: none;
    margin-left: 30px;
    /* align-items: center; */
    position: relative;
    bottom: 5px;
    right: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Lexend', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    cursor: pointer;
    /* border-bottom: 1px solid red; */
}

#nav-ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#nav-ul .home li{
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

#nav-ul a li:hover {
    font-weight: bold;
    border-bottom: 1px solid rgb(72, 255, 0);
    /* transition: 0.5s ease-in; */
    
 }

#nav-ul li:active {
    color: rgb(136, 0, 0);
}

#searchbar {
    /* margin: 15px 0px 0px 30px; */
    align-items: center;
}

#searchbar input {
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;

}

#searchbar ::placeholder {
    color: rgb(37, 35, 35);
    /* opacity: 1; */
}

#searchbar button {
    padding: 3px;
    border-radius: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(52, 0, 0), rgb(138, 90, 0));
    cursor: pointer;
}

#searchbar button:hover {
    background: linear-gradient(to right, rgb(75, 0, 0), rgb(159, 103, 0));
}

#searchbar button:active {
    color: rgb(253, 255, 194);
}


.register a {
    text-decoration: none;
}

/* Style for the login button */
#loginBtn {
    padding: 10px 20px;
    background-color: #0080ff;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}

#loginBtn:hover {
    background-color: #00a2ff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.705);
}

#loginBtn:active {
    background-color: rgba(0, 134, 60, 0.753);
}

/* style for sign in button  */

#signupBtn {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 6px;
    color: #000000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
}

#signupBtn:hover {
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.705);
    transition: 0.2s ease-out;
}

#signupBtn:active {
    background-color: rgba(170, 255, 208, 0.753);
}


/* ////////////////////////////////////////////////// */

/* login form from here  */

/* for loading animation  */

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5px;
    width: 0%;
    background-color: red;
    animation: loading 2s linear;
  }
  
  @keyframes loading {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }




  /* container for form starts from here  */

  .full-container{
      background-image: url('../img/login/bg2.png');
      height:100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; 
      display: flex; 
      justify-content: space-between;
      flex-direction: column;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    position: relative;
    border: 1px solid white;
    border-radius: 28px;
    top: 90px;
    left: 150px;
    box-sizing: content-box;
    overflow: hidden;
    background-color: #00000000;
    cursor: pointer;
}

/* for blur background (glass effect) */
.container{
    background: transparent;
    backdrop-filter: blur(5px);
}

.container:hover{
    background-color: #0000002f;
    transition: 0.3s ease-out;
    border-color: red;
    backdrop-filter: blur(10px);
}

.container h2 {
    font-size: 30px;
    /* text-align: center; */
    font-family:sans-serif;
    margin-bottom: 2px;
    color: #e1ff00;

}

.container h4{
    font-size: 15px;
    font-family:sans-serif;
    margin-bottom: 20px;
    color: #e1ff00;
    /* text-align: center; */

}

.form-group input {
    color: white;
    margin: 6px 0;
    border-radius: 5px;
    border: 1px solid rgb(0, 217, 255);
    padding: 5px 50px;
    background-color: #00000000;
}

.form-group input::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.668);
}

.form-group input:hover{
    background-color: #00000055;
}

.submit-btn {
    padding: 6px 100px;
    text-align: center;
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: #035acb;
    position: relative;
    top: 15px;
    cursor: pointer;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    /* margin-bottom: 15px ; */
}

.submit-btn:hover {
    background-color: #0088cc;
    transition: 0.1s ease-in;
}




/* /////////////////////////////////////////////////// */

/* Footer section */

footer {
    background: transparent;
    padding: 15px 0;
    
}

.copyright strong {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    /* color: red; */
}

.developer a span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.developer a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}
